@keyframes arrowBounce {
    0% {
        transform: rotate(45deg) translateX(0);
    }

    50% {
        transform: rotate(45deg) translateX(6px) translateY(-2px);
    }

    100% {
        transform: rotate(45deg) translateX(0);
    }
}