@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font($family, $size, $weight: 400, $line-height: 1.5) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
}