*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-text;
    font-size: 16px;
    line-height: 1.5;
    background: $color-white;
    color: $color-dark;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}