$color-dark-blue: #212353;
$color-text: #4B5D68;
$color-purple: #9A57F4;
$color-dark-purple: #9C69E2;
$color-hover-purple: #5E36F5;
$color-light-purple: #F6F0FD;
$color-light-green: #F0FAF9;
$color-light-pink: #FEF0F8;
$color-light-blue: #EAF6FC;
$color-white: #fff;

$font-montserrat: 'Montserrat', sans-serif;
$font-work-sans: 'Work Sans', sans-serif;